__pycache__
*.vtu
*.dat
*.csv
*.png
*.svg
*.pdf
.ipynb_checkpoints/
.idea/
*.swp
interpolation/output-before-fix/*.mesh
interpolation/output-after-fix/*.mesh
OBJ/
*.log
*.out
*.so
*.dmp

!experiments/inverse/cantilever_hole/ground-truth.csv
!experiments/inverse/three_point_hole/ground-truth.csv
